body {
  margin: 0;
  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;

  /* background-image: url(../public/fon.jpg); */
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden
}

h1 {
  text-align: center;
}